<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../static/CSS/estilos.css">
    <link rel="stylesheet" href="../static/CSS/font-awesome.css">
    <!--Enlace a css de Bootstrap-->
    <script src="../static/JS/jquery.js"></script>
		<script src="../static/JS/phaser.js"></script>
       
  
   
    <title>Document</title>
</head>
<body>
    <div id="juegotexto"></div>
   
    
  
    <script src="../static/JS/proyecto.js">
   
    </script>
     <!-- Plugin de validaciones--> 
    
     
     <div></div>
		<script src="../static/JS/ajax.js">
			
		</script>
        
  
</body>
</html>