<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="../static/css/estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="imag bg-transparent">
    <br>
    <br>
    <br>
    <br>

    <div class="container bg-danger h-100 w-50 ">
        <div class="row align-items-center h-100 ">
            <div class="col-9 mx-auto font-sans-serif align-self-center">
                <center>
                    <h2 class="align-self-center">Califica nuestra aplicación</h2>
                </center>
                <div class="card-header estre">

                    <span class="fa fa-star" id="1estrella" style="cursor: pointer;" onclick="calificar(this)"></span>
                    <span class="fa fa-star" id="2estrella" style="cursor: pointer;" onclick="calificar(this)"></span>
                    <span class="fa fa-star" id="3estrella" style="cursor: pointer;" onclick="calificar(this)"></span>
                    <span class="fa fa-star" id="4estrella" style="cursor: pointer;" onclick="calificar(this)"></span>
                    <span class="fa fa-star" id="51estrella" style="cursor: pointer;" onclick="calificar(this)"></span>

                    <br>
                    <center><button class="btn btn-success" onclick="enviarValoracion()">Enviar</button></center>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <center><div class="bg-transparent ">
            <button type="button" class="btn btn-transparent" style="background-color:rgba(187, 125, 32, 0)"
                id="enviar"> <a href="/estudiante.html"> <img src="../static/imagenes/reg.png" height="100"
                width="225"/></a></button>
        </div></center>
    </div>

    <script src="../static/JS/animales.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>